@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
  --grad-left: #7755FF;
  --grad-right: #FF54B0;
}


.btn-gradient {
  background: linear-gradient(90deg,var(--grad-left),var(--grad-right));
}


.hero-bg {
  background: linear-gradient(135deg, rgba(119,85,255,0.10) 0%, rgba(255,84,176,0.06) 100%);
}
